.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt12 {
  margin-top: 12px;
}
.mt20 {
  margin-top: 20px;
}
.mb5 {
  margin-top: 5px;
}
.mb10 {
  margin-top: 10px;
}
.mb12 {
  margin-top: 12px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 750px;
}
.mt80 {
  margin-top: 80px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml12 {
  margin-left: 12px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 750px;
}
.ml80 {
  margin-left: 80px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mt5vh {
  margin-top: 5vh;
}
.mt10vh {
  margin-top: 10vh;
}
.mt14vh {
  margin-top: 11vh;
}
