<div class="login-bg">
  <div class="login-bg_pattern">
    <div class="login-bg_left-top-circle"></div>
    <div class="login-bg_left100-top-circle"></div>
    <div class="login-bg_right-top-circle"></div>
    <div class="login-bg_right-bottom-circle"></div>
    <div class="login-bg_left-bottom-circle"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12  offset-md-2">
        <div class="login-login_wrap">
          <div class="login-login_box">
            <div class="grid-content">
              <div class="key">
                <div class="bottom-img"></div>   
                <div class="col-md-4  col-md-offset-1">
                  <div class="form-info mt14vh pb50">
                    <div class="logo"><img src="../assets/logo.png" alt=""></div>
                    <form onsubmit="return false">
                      <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">滑动校验</a></li>
                            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">点选校验</a></li>
                        </ul>
                      </div>
                      <ul class="user-info mt60">
                        <li class="user-input">
                          <input class="effect" placeholder="请输入用户名" id="usernameIput" type="text" />
                          <label>用户名</label>
                        </li>
                        <li class="user-input">
                          <input class="effect" placeholder="请输入密码" id="passwordIput" type="password" />
                          <label>密码</label>
                        </li>
                        <li class="keep-password">
                          <label>测试账号: admin  &nbsp; &nbsp; 密码: 123456</label>
                        </li>
                        <li class="keep-password">
                          <label>
                            <a href='https://gitee.com/anji-plus/captcha/' target="_blank" style="color:#222"><img src="https://gitee.com/static/images/logo-en.svg" style="vertical-align:middle;margin-right:5px" width="24px"/> gitee</a>
                          </label>
                          <label class="ml20">
                            <a href='https://gitee.com/anji-plus/captcha/stargazers' target="_blank"><img src='https://gitee.com/anji-plus/captcha/badge/star.svg?theme=gvp' style="vertical-align:middle;" alt='star' /></a>
                          </label>
                        </li>
                        <li class="keep-password">
                          <label>
                            <a href='https://github.com/anji-plus/captcha' target="_blank" style="color:#222"><img src="https://github.githubassets.com/favicons/favicon.png" style="vertical-align:middle;margin-right:5px" width="24px"/> github</a>
                          </label>
                        </li>
                        <li class="mt50"> 
                          <!-- Tab panes -->
                          <div class="tab-content tabs">
                            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                              <button type="button"  class="buttonSize button-solid goHome" data-toggle="modal" data-target="#slipping">滑动校验</button>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Section2">
                              <button type="button" class="buttonSize button-solid goHome" data-toggle="modal" data-target="#click">点击校验</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<verify-slipping></verify-slipping><!--滑动验证-->
<verify-click></verify-click><!--点选验证-->