<div class="modal fade click " id="click" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">请完成安全验证</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="box">
          <div class="verifybox-top">
            <div class="box"> 
              <div id="mpanel2"></div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>